body{
    text-align: center;
    background-image: url('bg5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Amita';font-size: 22px;
}
h1 {
    position: relative;
    bottom: 35px;
}
a{
    color: white;
}
span{
    color: red;
}
h1{
    color: rosybrown;
}
table{
    display: inline-block;
}
input {
    padding: 25px;
    color: white;
    background-color: #3e490852;
    height: 100px;
    width: 100px;
    font-size: 50px;
    font-family: 'Bonbon';
}
#container {
    height: 317px;
    margin: auto;
    border: 3px solid #cccccc38;
    width: 417px;
    background: #0005099e;
    position: relative;
    padding: 32px 0px;
    bottom: 58px;
}