#container{
    width: auto;
    margin: 0 100px;
    font-family: 'Abril Fatface', cursive;
    /* border: 2px black solid; */
}
#greet{
    text-align: right;
    background: mediumpurple;
    color: white;
    padding: 23px 12px;
} 
/* .basicInfo{
        border: red 3px solid;
} */
p{
    padding: 18px;
    background: red;
    color: white;
    width: 93%;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Amatic SC', cursive;
}
.col1 {
    width: 60%;
    border: 1px #ccc solid;
    padding: 36px 9px;
    float: left;
}
.buttons {
    width: 35%;
    float: right;
    border: 1px #ccc solid;
}
button{
        width: 94%;
        padding: 13px;
        margin: 11px;
        font-family: 'Abril Fatface', cursive;
}